<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">

    <p class="my-5">
      <strong class="block font-medium mb-1"><%= "The student doesn't have an active enrollment on #{@year}" %> </strong>
    </p>
    <%= link_to 'Back to students', students_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>